<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DynamicResizer.AspNetCache.Enabled" value="true"/>
    <add key="DynamicResizer.AspNetCache.DurationMinutes" value="5"/>
    <add key="DynamicResizer.DiskCache.Enabled" value="false"/>
    <add key="DynamicResizer.DiskCache.Directory" value="~/DesktopModules/DNNspot-Store/_imageResizeCache"/>
    <add key="DynamicResizer.NotFoundImage.Enabled" value="true"/>
    <add key="DynamicResizer.NotFoundImage.Path" value="~/DesktopModules/DNNspot-Store/images/photoNotFound.png"/>
    <add key="DynamicResizer.JpgQuality" value="90"/>
    <add key="DynamicResizer.AllowUpscaling" value="False"/>
  </appSettings>
  <system.web>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Collections.Generic"/>
        <add namespace="DNNspot.Store"/>
        <add namespace="DNNspot.Store.Shipping"/>
        <add namespace="DNNspot.Store.DataModel"/>
        <add namespace="DNNspot.Store.UserControls"/>
        <add namespace="WA.Extensions"/>
      </namespaces>
    </pages>
    <httpHandlers>
      <!-- DynamicResizer Entries -->
      <add verb="*" path="*.jpg.ashx" type="DNNspot.Store.Handlers.ImageResizeHandler"/>
      <add verb="*" path="*.jpeg.ashx" type="DNNspot.Store.Handlers.ImageResizeHandler"/>
      <add verb="*" path="*.gif.ashx" type="DNNspot.Store.Handlers.ImageResizeHandler"/>
      <add verb="*" path="*.png.ashx" type="DNNspot.Store.Handlers.ImageResizeHandler"/>
      <!-- END DynamicResizer Entries -->
    </httpHandlers>
    <compilation targetFramework="4.0"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <!-- DynamicResizer Entries -->
      <add name="dynamicResizeJpg" verb="*" path="*.jpg.ashx" preCondition="integratedMode" type="DNNspot.Store.Handlers.ImageResizeHandler"/>
      <add name="dynamicResizeJpeg" verb="*" path="*.jpeg.ashx" preCondition="integratedMode" type="DNNspot.Store.Handlers.ImageResizeHandler"/>
      <add name="dynamicResizeGif" verb="*" path="*.gif.ashx" preCondition="integratedMode" type="DNNspot.Store.Handlers.ImageResizeHandler"/>
      <add name="dynamicResizePng" verb="*" path="*.png.ashx" preCondition="integratedMode" type="DNNspot.Store.Handlers.ImageResizeHandler"/>
      <!-- END DynamicResizer Entries -->
      <!--
      <add name="ScriptHandlerFactory"
           verb="*"
           path="*.asmx"
           preCondition="integratedMode"
           type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
           -->
    </handlers>
  </system.webServer>
</configuration>